body, select {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 100px;
}

select {
  width: 60px;
}

label {
  display: inline-block;
  width: 150px;
  padding-right: 20px;
}

label:after {
  content: ':';
}