.main {
  font-size: 2.2rem;
  line-height: 3rem;
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.active {
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 5rem;
}
