@value colors: '../../values/colors.css';
@value secondary, secondary-dark from colors;

.main {
  font-size: 2.2rem;
  line-height: 3rem;
  text-decoration: none;
  color: inherit;
  display: inline;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: secondary;

    &:active {
      color: secondary-dark;
    }
  }
}

.active {
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 5rem;
  cursor: default;

  &:hover {
    color: inherit;

    &:active {
      color: inherit;
    }
  }
}
