@value colors: '../../values/colors.css';
@value secondary, primary-light, background-dark from colors;

.main {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: secondary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  background: primary-light;
  padding: 0 1rem;
  white-space: nowrap;
  border-radius: 1.5rem;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
  margin: 0 0 2rem;

  &:hover {
    text-decoration: none;
    background: secondary;
    color: background-dark;
  }
}
