.button {
  display: inline-block;
  text-decoration: none;
  color: #558aea;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  background: #dcdadd;
  padding: 0.5rem 1rem;
  border-radius: 500px;
  cursor: pointer;
  letter-spacing: 0.08rem;
}
