.main {
  text-align: center;
  margin: 0 0 4rem;
}

.name {
  font-weight: 500;
}

.description {
  font-style: italic;
}

.arrow {
  float: left;
  margin-right: 0.4rem;
  transition: all 0.2s;
}

.isOpen {
  transform: rotate(180deg);
}

.bibtex {
  position: relative;
}

.clipboard {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
