.publications {
  text-align: center;
}

.publication {
  margin-bottom: 4rem;
}

.name {
  font-weight: 500;
}

.description {
  font-style: italic;
}

.bibtex-button {
  outline: none;
  color: #558aea;
}

.bibtex-button:hover {
  text-decoration: underline;
}

.bibtex {
  display: none;
}

.bibtex.opened {
  display: block;
}
