@value colors: '../values/colors.css';
@value primary-light from colors;

.main {
  composes: wrapper from '../compositions/wrapper.css';
}

.image {
  width: 20rem;
  height: 20rem;
  background-image: url('./profile.png');
  background-size: 100%;
  border-radius: 50%;
  border: 10px solid primary-light;
  margin: 0 0 2rem;
}

.text {
  flex-basis: 30rem;
}

.vitae {
  text-align: center;
  margin: 0 0 2rem;
}
