.profile {
  border-radius: 50%;
  border: 10px solid #dcdadd;
}

.title {
  color: #558aea;
  font-weight: 500;
  letter-spacing: -0.08rem;
  text-transform: uppercase;
  font-size: 2.8rem;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 2.2rem;
}
