@value colors: '../../values/colors.css';
@value secondary, secondary-dark from colors;

.main {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  display: inline;
  line-height: 6rem;
  font-size: 4rem;

  & i {
    font-style: normal;
    transition: all 0.2s;

    &:hover {
      color: secondary;

      &:active {
        color: secondary-dark;
      }
    }
  }
}
