@value colors: '../../values/colors.css';
@value secondary from colors;

.main {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  display: inline;

  & i {
    font-style: normal;
    line-height: 3rem;
    font-size: 3rem;
    transition: all 0.2s;

    &:hover {
      color: secondary;
    }
  }
}
