@value colors: '../../values/colors.css';
@value secondary, secondary-dark from colors;

.main {
  color: inherit;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  display: inline;
  transition: all 0.2s;
  font-size: 100%;

  &:hover {
    color: secondary;

    &:active {
      color: secondary-dark;
    }
  }
}
