.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  font-size: 2.2rem;
  text-decoration: none;
  color: inherit;
}

.navigation a.active {
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: -0.08rem;
}
