.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation a {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.navigation a.active {
  font-size: 2.5rem;
  font-weight: 500;
}
