.footer {
  background: #f1f1f1;
  text-align: center;
  padding: 2rem 2rem 0;
}

.footer p {
  padding-top: 2rem;
}

.email {
  font-weight: 500;
  text-transform: uppercase;
}

.github {
  width: 3rem;
}
