@value colors: '../values/colors.css';
@value background-dark from colors;

.main {
  composes: wrapper from '../compositions/wrapper.css';
  background: background-dark;
  padding: 2rem;
}

.email {
  font-weight: 500;
  text-transform: uppercase;
}

.github {
  width: 3rem;
}
