@value colors: '../../values/colors.css';
@value secondary, secondary-dark from colors;

.main {
  color: secondary;
  font-weight: 300;
  font-size: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  display: inline;
  transition: all 0.2s;
  font-family: Roboto, sans-serif;

  &:hover {
    text-decoration: underline;

    &:active {
      color: secondary-dark;
    }
  }
}
