@value colors: '../../values/colors.css';
@value secondary from colors;

.main {
  color: secondary;
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  display: inline;
}
